.page {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: #fff;
    padding-bottom: 1.546667rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

section {
    padding: .293333rem .533333rem;
}

section h3 {
    font-size: .32rem;
    color: #4E4E4E;
}

section h2 {
    font-size: 14px;
    color: #333333;
}

section p {
    font-size: .32rem;
    color: #4A4A4A;
}

.line {
    margin: 0 .426667rem;
    height: 1px;
    background-color: #979797;
}

.condition {
    margin: .72rem auto;
}

.condition .title {
    font-size: .373333rem;
    color: #8685FF;
    font-weight: bold;
    margin-bottom: .133333rem;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
}

.footer-btn {
    height: 1.546667rem;
    float: left;
    width: 50%;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    line-height: 1.546667rem;
    text-align: center;
    font-size: .373333rem;
    color: #333;
}

.footer-btn:last-child {
    background-image: linear-gradient(228deg, #FFAE4C 0%, #ED6459 100%);
    color: #fff;
}

.footer-btn img {
    width: .56rem;
    vertical-align: middle;
}

.footer-btn:active {
    background-color: #eee;
}

table {
    font-size: .32rem;
    color: #4A4A4A;
    line-height: .533333rem;
    margin: .4rem 0;
    border-collapse: collapse;
    background-color: #f8f8f8;
}

table tr td:first-child {
    width: 1.44rem;
    text-align: center;
    border: 1px solid #EBEBEB;
    border-left: none;
    border-top: none;
    height: 1.466667rem;
    padding-top: .213333rem;
}

table tr td:last-child {
    padding: .213333rem;
    border: 1px solid #EBEBEB;
    border-right: none;
    border-top: none;
}

table tr:last-child td {
    position: relative;
    border-bottom: none;
}

table td .h-icon img {
    width: .693333rem;
}

table td .h-icon {
    height: .746667rem;
}

img.more {
    vertical-align: middle;
    width: .373333rem;
    margin-left: .133333rem;
}

.qipao {
    position: absolute;
    bottom: .933333rem;
    left: .106667rem;
    width: 6.4rem;
    height: 3.2rem;
    background-image: url('../../assets/image/qipao.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: .373333rem .453333rem;
    background-position: center;
}

span.time-tag {
    border-radius: .053333rem;
    padding: .053333rem .08rem;
    font-size: .32rem;
    margin-left: .293333rem;
    font-weight: 400;
    border: 1px solid #8685ff;
}