.page {
    background-color: #fff;
    /* overflow: auto; */
    overflow: scroll;
    -webkit-overflow-scrolling: touch
}

.img-container{
    text-align: center;
    margin: 0.2rem auto 0rem;
}

.img-container img{
    width:4.5676rem;
}

.result{
    font-weight: 600;
    margin-bottom: 0.5333rem;
    font-size: 0.6486rem;
    color: #7BBC52;
    text-align: center;
}

.desc{
    text-align: center;
    padding: 0 0.5867rem;
    color: #666;
    line-height: .586667rem;
    font-size: 0.38rem;

    margin-bottom: 1.4rem;

}


.btn{
    width: 5.6rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    margin: 0.453333rem auto;
    color: #FFF;
    border: 1px solid #EF773C;
    border-radius: 0.6216rem;
    font-size: 0.4865rem;  
}
.defBtn{
    /* background: #EF773C; */
    background-image: linear-gradient(48deg, #FF8723 0%, #FFA920 100%);
}
.backWechatBtn{
    background: #FFF;
    color:#DA3619 ;
}